<%= form_for @parcel, :html => { :class => "form-horizontal parcel" } do |f| %>

  <% if @parcel.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@parcel.errors.count, "error") %> prohibited this parcel from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @parcel.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="row" >
    
    <div class="form-group col-lg-6">
        <%= f.text_field :customer_id, :value => @customer.customer_id, :class => 'form-control' %>
      <div class="col-lg-12">
        <%= f.label :name, :class => 'control-label col-lg-2' %>
      </div>
      <div class="col-lg-12">
        <%= f.text_field :name, :class => 'form-control' %>
      </div>
      <%=f.error_span(:name) %>
    </div>
    <div class="form-group col-lg-6">
      <div class="col-lg-12">
        <%= f.label :parcel_details, :class => 'control-label col-lg-2' %>
      </div>
      <div class="col-lg-12">
        <%= f.text_area :parcel_details, :class => 'form-control' %>
      </div>
      <%=f.error_span(:parcel_details) %>
    </div>
    <div class="form-group col-lg-6">
      <div class="col-lg-12">
        <%= f.label :tracking_number, :class => 'control-label col-lg-2' %>
      </div>
      
      <div class="col-lg-12">
      	<% if controller.action_name == "new" %>
          <%= f.text_field :tracking_number, :value =>  @tracking_number, :class => 'form-control' %>
	<% else %>
	  <%= f.text_field :tracking_number, :value => @parcel.tracking_number, :class => 'form-control' %>
	<% end %>	
      </div>
      <%=f.error_span(:tracking_number) %>
    </div>

    <div class="form-group col-lg-6">
      <div class="col-lg-12">
        <%= f.label :address, :class => 'control-label col-lg-2' %>
      </div>
      <div class="col-lg-12">
        <%= f.text_field :address, :class => 'form-control' %>
      </div>
      <%=f.error_span(:address) %>
    </div>
 
    <div class="form-group col-lg-6">
      <div class="col-lg-12">
        <%= f.label :province, :class => 'control-label col-lg-2' %>
      </div>
      <div class="col-lg-12">
        <%= f.text_field :province, :class => 'form-control' %>
      </div>
      <%=f.error_span(:province) %>
    </div>
    <div class="form-group col-lg-6">
      <div class="col-lg-12">
        <%= f.label :city, :class => 'control-label col-lg-2' %>
      </div>
      <div class="col-lg-12">
        <%= f.text_field :city, :class => 'form-control' %>
      </div>
      <%=f.error_span(:city) %>
    </div>
    <div class="form-group col-lg-6">
      <div class="col-lg-12">
        <%= f.label :postal_code, :class => 'control-label col-lg-2' %>
      </div>
        <div class="col-lg-12">
          <%= f.text_field :postal_code, :class => 'form-control' %>
        </div>
        <%=f.error_span(:postal_code) %>
    </div>
  
    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
        parcels_path, :class => 'btn btn-default' %>
      </div>
    </div>
  </div>
<% end %>
