
<%= form_for @customer, :html => { :class => "form-horizontal parcel" } do |f| %>

  <% if @customer.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@customer.errors.count, "error") %> prohibited this parcel from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @customer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="row" style="background-color: aliceblue">
    
    <div class="form-group col-lg-6">
      <div class="col-lg-12">
        <%= f.label :name, :class => 'control-label col-lg-2' %>
      </div>
      <div class="col-lg-12">
        <%= f.text_field :name, :value => @customer.name, :class => 'form-control' %>
      </div>
      <%=f.error_span(:name) %>
    </div>
    <div class="form-group col-lg-6">
      <div class="col-lg-12">
        <%= f.label :surname, :class => 'control-label col-lg-2' %>
      </div>
      <div class="col-lg-12">
        <%= f.text_field :surname, :value => @customer.surname, :class => 'form-control' %>
      </div>
      <%=f.error_span(:surname) %>
    </div>
    <div class="form-group col-lg-6">
      <div class="col-lg-12">
        <%= f.label :phone, :class => 'control-label col-lg-2' %>
      </div>
      <div class="col-lg-12">
        <%= f.text_field :phone, :value => @customer.phone, :class => 'form-control' %>
      </div>
      <%=f.error_span(:phone) %>
    </div>      
    <div class="form-group col-lg-6">
      <div class="col-lg-12">
        <%= f.label :email, :class => 'control-label col-lg-2' %>
      </div>
      <div class="col-lg-12">
        <%= f.text_field :email, :value => @customer.email, :class => 'form-control' %>
      </div>
      <%=f.error_span(:email) %>
    </div>
    <div class="form-group col-lg-6">
      <div class="col-lg-12">
        <%= f.label :address, :class => 'control-label col-lg-2' %>
      </div>
      <div class="col-lg-12">
        <%= f.text_field :address, :value => @customer.address, :class => 'form-control' %>
      </div>
      <%=f.error_span(:address) %>
    </div>
    <div class="form-group col-lg-6">
      <div class="col-lg-12">
        <%= f.label :address, :class => 'control-label col-lg-2' %>
      </div>
      <div class="col-lg-12">
        <%= f.text_field :address, :value => @customer.address, :class => 'form-control' %>
      </div>
      <%=f.error_span(:address) %>
    </div>
    <div class="form-group col-lg-6">
      <div class="col-lg-12">
        <%= f.label :province, :class => 'control-label col-lg-2' %>
      </div>
      <div class="col-lg-12">
        <%= f.text_field :province, :value => @customer.province, :class => 'form-control' %>
      </div>
      <%=f.error_span(:province) %>
    </div>
    <div class="form-group col-lg-6">
      <div class="col-lg-12">
        <%= f.label :city, :class => 'control-label col-lg-2' %>
      </div>
      <div class="col-lg-12">
        <%= f.text_field :city, :value => @customer.city, :class => 'form-control' %>
      </div>
      <%=f.error_span(:city) %>
    </div>
    <div class="form-group col-lg-6">
      <div class="col-lg-12">
        <%= f.label :postal_code, :class => 'control-label col-lg-2' %>
      </div>
        <div class="col-lg-12">
          <%= f.text_field :postal_code, :value => @customer.postal_code, :class => 'form-control' %>
        </div>
        <%=f.error_span(:postal_code) %>
    </div>


    <div class="form-group col-lg-6">
      <div class="col-lg-12">
        <%= f.label "client id", :class => 'control-label col-lg-2' %>
      </div>
      <div class="col-lg-10">
	<% if controller.controller_name == "customer" && controller.action_name == "new" %>
          <%= f.text_field :tracking_number, :value =>  @tracking_number, :class => 'form-control' %>
	<% else %>
	  <%= f.text_field :tracking_number, :value => @customer.tracking_number, :class => 'form-control' %>
	<% end %>
      </div>
      <%=f.error_span(:tracking_number) %>
    </div>  
  </div>

  <div class="form-group">
    <div class="col-lg-offset-5 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
      parcels_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
